body {
    padding-top: 4rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}
#navbarCollapse .oi {
    margin-right: 6px;
}

.fade {
    display: none;
}

footer {
    position: fixed;
    bottom: 0%;
    left: 0;
    right: 0;
}

.footer_title {
    border-bottom: unset !important;
    margin-bottom: unset !important;
    padding: 2px 6px;
    text-align: center;
    background-color: #343a40;
    color: #fff;
}

.top_icon {
    border: 2px solid #007bff;
    padding:6px;
    border-radius: 50%;
    position: absolute;
    right: 4rem;
    bottom: 70px;
}

.align_center {
    text-align: center;
}

.textTitle {
    font-size: 2rem;
}

#home_gallery_list {}

.more_button {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 6px;
    color: #fff;
    background-color: #343a40 !important;
    cursor: pointer;
}

.swiper-container {
    width: 600px;
    height: 300px;
}


.slick-prev:before,
.slick-next:before {
    color: #343a40 !important
}

.multiple-items {
    height: 350px;
}

.gallery_item {
    cursor: pointer;
    width: auto;
    height: 100%;
}

.update_admin,
.delete_admin {
    cursor: pointer;
    padding: 0 6px;
}

.newModel {
    cursor: pointer;
}

#newModel .modal-body {
    font-size: 0.8rem
}

#newModel .modal-body input,#editModel .modal-body input {
    margin-bottom: 10px;
    border: unset;
    border-bottom: 1px solid #333;
    width: 100%;
}

input,
textarea,
select,
a:focus {
    outline: none;
}

#gallery_button_group button {
    width: 100%;
    color: #333;
    border-color: #333;
    margin-bottom: 5px;
    border-width: 1px!important;
}

#gallery_button_group button.active{
    color: #fff;
    background-color: #343a40;
    opacity: 1;
}

#gallery_button_group i {
    margin-right: 5px;
}


#tab_header div{
    cursor: pointer;
    padding: 4px 6px;
    border:1px solid #343a40;
    border-bottom: unset;
    width: 90px;
    text-align: center;
    border-radius: 16px 0 0 0;
}
#tab_header div.show{
    background-color: #343a40;
    color:#fff
}
#gallery_tab>div{
    border:1px solid #333;
}

a{
    word-break: break-all!important;
}
.x3dom-canvas{
    width: 100%!important;
    height: 100%!important;
    
}
x3d{
    border-left: unset!important;
    width: 100%;
}
@media (min-width: 768px) {
    
    .nav-item:not(:nth-child(4)){
        border-right: 1px solid rgba(255,255,255,.5);
    }
    .nav-item{
        padding: 0 12px;
    }
    #admin_table_wrapper{
        padding:1rem;
        border:1px solid #333;
        border-radius: 0.25rem
    }
    .newModel{
        display:block!important
    }
    x3d{
        border-bottom: unset!important;
        border-right: unset!important;
    }
    #d3_box{
        border-right: 1px solid #333;
    }
    /* #gallery_button_group{
        border: 1px solid #343a40;
        border-right: unset!important; 
        border-radius: 10px 0 0 10px!important;
        margin-top: 33px!important;
        margin-bottom: unset!important;
        width: 100%!important;
    } */
    /* #gallery_button_group>div>div{
        border-bottom: 1px solid #333
    } */
}

@media (max-width: 767px) {
    body{}
    /* #gallery_button_group>div>div:nth-child(1),#gallery_button_group>div>div:nth-child(2),#gallery_button_group>div>div:nth-child(3){
        border-bottom: 1px solid #343a40;
    }
    #gallery_button_group>div>div:nth-child(1),#gallery_button_group>div>div:nth-child(2),#gallery_button_group>div>div:nth-child(4),#gallery_button_group>div>div:nth-child(5){
        border-right: 1px solid #343a40;
    } */
    #gallery_button_group>div>div{
        width: 33%;
        padding:5px;
    }
    #gallery_button_group button{
        font-size: 14px;
        padding:0!important;
    }
    x3d{
        border-top: unset!important;
        border-right: unset!important;
    }
    #admin_table_wrapper{
        overflow: auto;
    }
}

